
.MyOverviewMap {
	position: absolute;
	z-index: 99;
	top: 0;
    right: 0;
    bottom: 0;
}

.MyOverviewMap .ovwContainer {
	position: relative;
	display: none;
	background-color: #fffdfd;
}

.MyOverviewMap .map {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFF;
}

.MyOverviewMap .ovwHighlight {
	position: absolute;
	display: none;
	z-index: 99;
	cursor: move;
}

.MyOverviewMap .ovwButton {
	position: relative;
	width: 16px;
	height: 16px;
	cursor: pointer;
	z-index: 99;
}

.MyOverviewMap .ovwMaximizer {
	display: none;
}

.MyOverviewMap .ovwDisabledButton {
	display: none !important;
}

.MyOverviewMap .ovwMaximize {
	background: url("../images/overview.png") 0px -130px;
}

.MyOverviewMap .ovwRestore {
	background: url("../images/overview.png") 0px -104px;
}

.MyOverviewMap.ovwTL {
	top: 0px;
	left: 0px;
}

.MyOverviewMap.ovwTR {
	top: 0px;
	right: 0px;
}

.MyOverviewMap.ovwBL {
	bottom: 0px;
	left: 0px;
}

.MyOverviewMap.ovwBR {
	bottom: 0px;
	right: 0px;
}

.MyOverviewMap.ovwTL .ovwContainer {
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	padding-bottom: 2px;
	padding-right: 2px;
}

.MyOverviewMap.ovwTR .ovwContainer {
	top: 0px;
	right: 0px;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	padding-bottom: 2px;
	padding-left: 2px;
}

.MyOverviewMap.ovwBL .ovwContainer {
	bottom: 0px;
	left: 0px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	padding-top: 2px;
	padding-right: 2px;
}

.MyOverviewMap.ovwBR .ovwContainer {
	bottom: 0px;
	right: 0px;
	padding-top: 2px;
	padding-left: 2px;
}

.MyOverviewMap.ovwTL .ovwShow, .MyOverviewMap.ovwBR .ovwHide {
	background: url("../images/overview.png") 0px -26px;
}

.MyOverviewMap.ovwTR .ovwShow, .MyOverviewMap.ovwBL .ovwHide {
	background: url("../images/overview.png") 0px 0px;
}

.MyOverviewMap.ovwBL .ovwShow, .MyOverviewMap.ovwTR .ovwHide {
	background: url("../images/overview.png") 0px -78px;
}

.MyOverviewMap.ovwBR .ovwShow, .MyOverviewMap.ovwTL .ovwHide {
	background: url("../images/overview.png") 0px -52px;
}

.MyOverviewMap .bingLogo-lg {
	display: none;
}

@font-face {
	font-family: 'popup'; src: url("../font/popup.eot?46610942"); src: url("../font/popup.eot?46610942#iefix") format('embedded-opentype'), url("../dijit/font/popup.woff?46610942") format('woff'), url("../dijit/font/popup.ttf?46610942") format('truetype'), url("../dijit/font/popup.svg?46610942#popup") format('svg'); font-weight: normal; font-style: normal;
}
.ovwbar{
	width: 310px; 
	height: 45px;
	position: absolute;
	right: 5px;
	top: 55px;
  background-color: #FFFDFD;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.ovwMapcontainer{
/*	display:none;*/
	background-color: #000000;
}
.ovwbar ul{
	display: flex;
	border:none !important;
}
.ovwbar li{
	flex: 1;
}
.ovwbar li a{
	cursor: pointer;
}
.ovwbar li span{
	margin-left: 5px;
}
