/*
* @Author: phr
* @Date:   2019-06-25 11:50:17
*/
.layui-btn{
	width: auto !important;
}
.layui-fluid{
	padding: 15px 0;
}
.layui-input-inline{
	width: 130px !important;
}
.import-warp{
	display: inline-block;
    height: 32px;
    padding: 0 10px;
    margin-left: 10px;
    vertical-align: middle;
}
.import-warp .layui-nav-item{
	line-height: 34px;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:afterr{
	height: 0px;
}
.layui-nav-child{
	left: -10px;
    top: 23px;
	z-index: 891;
}
.layui-table-tool .layui-table-tool-self .layui-inline[lay-event]{
	display: inline-block;
}
